<script context="module">
	export const prerender = true;
	/** @type {import('./__types/[slug]').Load} */
	export async function load({ params, fetch, session, stuff }) {
		const response = await fetch('/user', {
			method: 'PATCH',
			headers: {
				'content-type': 'application/json',
				accept: 'application/json'
			}
		});

	  return {
		status: response.status,
		props: {
		  body: response.ok && (await response.json())
		}
	  };
	}
  </script>

<script>
	export let body 

	
	import { onMount, onDestroy } from 'svelte';
	import '../tailwind.css';
	import { goto } from '$app/navigation';
	import { userStore, setAlert, isLoading, setisLoading } from '$lib/store';
	import { clusterApiUrl, Connection, Keypair, PublicKey, LAMPORTS_PER_SOL } from '@solana/web3.js';
	import base58 from 'bs58'
	import { Loading, Alert, Box, Card, Title, Button } from '$lib/comp/';

	import { page } from '$app/stores';

	import { connection } from '$lib/connection';

	import { env } from '$lib/fn';
	/*
	import { initializeApp } from 'firebase/app';
	import { getFirestore } from 'firebase/firestore';
	const firebaseConfig = {
		apiKey: 'AIzaSyD8_DWfsiU1UIWZlprB6jbcaucupLheSMo',
		authDomain: 'sola-e9c81.firebaseapp.com',
		projectId: 'sola-e9c81',
		storageBucket: 'sola-e9c81.appspot.com',
		messagingSenderId: '108171829326',
		appId: '1:108171829326:web:25664ed4763f15d2eaa31f',
		measurementId: 'G-XCL1ZCBVDJ'
	};
	const app = initializeApp(firebaseConfig);
	const db = getFirestore(app);
	import { collection, addDoc, getDocs, doc, onSnapshot } from 'firebase/firestore';
	const unsub = onSnapshot(doc(db, 'messages', 'JGnZZbOPHc6n2oJO8n6s'), (doc) => {
		console.log('Current data: ', doc.data());
	});
	onDestroy(() => {
		unsub();
	});

	const authorization = async () => {
		api('post', 'authorization', (body) => {
			console.log(body);
		});
	};
				7e86d1ff180e1a2b58d09850f1a6dab8853bf34143b31f519ed47ca496a87193
		

	*/
	onMount(async() => {
		loading = false;
		console.log(body);
		const balance = (await connection.getBalance(new PublicKey(base58.decode(body.pub))))/ LAMPORTS_PER_SOL
		userStore.set({...body, sol:balance - body.lock})
		if ($userStore.pub) {
			connection.onAccountChange(
				new PublicKey($userStore.pub),
				(updatedAccountInfo) => {
					console.log('Updated wallet: ', updatedAccountInfo);
					userStore.update({ sol: updatedAccountInfo.lamports / LAMPORTS_PER_SOL });
				},
				'confirmed'
			);
		}
	});
	let loading = true
	let key;

	const postAuthentication = async () => {
		if (!key) {
			setAlert(2, 'Bạn chưa nhập khoá truy cập');
			return;
		}
		const resp = await fetch('/user', {
			method: 'PATCH',
			body: JSON.stringify({id: key})
		})

		console.log(resp);

		if(resp.status == 200) {
			const data = await resp.json()
			console.log(data);
			const balance = (await connection.getBalance(new PublicKey(base58.decode(data.pub))))/ LAMPORTS_PER_SOL
			userStore.set({...data, sol:balance - data.lock})
			console.log($userStore)
			location.reload();
		}
		if(resp.status ==400){
			setAlert(1, 'Khoá không hợp lệ')
		}
	};

	const postNewKey = async () => {
		const resp = await fetch('/user', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				Accept: 'application/json'
			},
			body: JSON.stringify({ ref: '' })
		})

		if(resp.status == 200) {
			const data = await resp.json()
			const balance = (await connection.getBalance(new PublicKey(base58.decode(data.pub))))/ LAMPORTS_PER_SOL
			userStore.set({...data, sol:balance - data.lock})
			console.log($userStore)
			goto(`/user/new/${data.key}`)
			location.reload();
		}else{
			setAlert(1, "Lỗi không xác định")
		}
	};
</script>

<Alert />

{#if !body.error}
{#if loading}
<Loading />
{:else}
	<a
		class:none={$page.path.split('/')[1] == 'img' ||
			($page.path.split('/')[1] == 'order' && $page.path.split('/')[2] != null)}
		href="/user"
		class="flex justify-between items-center shadow-md p-3 px-5 sticky left-0 right-0 top-0 backdrop-blur-xl"
		style="z-index:10; background:#fff; opacity:0.95"
	>
		<div class="text-gray-700">
			<a
				href="/"
				class="font-semibold text-gray-800 text-xl text-center"
				style="font-family: TTOctosquares-Black;
                            letter-spacing: 0px;"
			>
				PNET
			</a>
		</div>
		<div class="flex flex-row space-x-4">
			<div />
			<img src="/solana-logo.png" alt="solana logo" class="w-6 h-6" />
			<p class="text-xl font-semibold text-gray-900">{$userStore.sol}</p>
		</div>
	</a>



<main class="mx-auto pb-24 min-h-screen">
	<slot />
</main>

<div
	class:none={$page.path.split('/')[1] == 'img' ||
		($page.path.split('/')[1] == 'order' && $page.path.split('/')[2] != null)}
	class="box-border bg-gray-300 border-menu  fixed bottom-3 left-5 right-5 rounded-full bg-white list-none border border-2 "
	style="z-index:9"
>
	<nav class="flex justify-around">
		<li class="grow flex justify-center items-center relative">
			<div
				class:active={$page.path == '/'}
				class="hidden absolute w-14 h-6 bg-stepnbuy rounded-full"
			/>
			<a sveltekit:prefetch href="/" class="p-5 py-3 pt-3 text-xl text-gray-800 font-semibold">
				<img src="/shopping-cart.png" class="w-8 h-8 bg-000" alt="fqa" />
			</a>
		</li>
		<li class="grow flex justify-center items-center">
			<div
				class:active={$page.path == '/sell'}
				class="hidden absolute w-14 h-6 bg-stepnbuy rounded-full"
			/>
			<a sveltekit:prefetch href="/sell" class="p-5 py-3 pt-3 text-xl text-gray-800 font-semibold">
				<img src="/price.png" class="w-8 h-8 bg-000" alt="fqa" />
			</a>
		</li>
		<li class="grow flex justify-center items-center">
			<div
				class:active={$page.path == '/order'}
				class="hidden absolute w-14 h-6 bg-stepnbuy rounded-full"
			/>
			<a sveltekit:prefetch href="/order" class="p-5 py-3 pt-3 text-xl text-gray-800 font-semibold">
				<img src="/order.png" alt="" class="w-8 h-8 bg-000" />
			</a>
		</li>
	</nav>
</div>
{/if}
{:else}
<Box class="flex flex-col justify-center items-center">
	<div class="flex justify-center py-14">
		<div class="text-lg" style="color:#687173">
			<div class="space-y-2">
				<h1
					class="font-semibold text-gray-800 text-center"
					style="font-family: TTOctosquares-Black;
                            font-size: 48px;
                            letter-spacing: 0px;
                            line-height: 40px;"
				>
					PNET
				</h1>
				<p class="text-2xl font-light text-center text-gray-500">StepN P2P Network</p>
			</div>
		</div>
	</div>

	<Card>
		<Title>ĐĂNG NHẬP</Title>

		<!--<div class="text-md font-medium text-gray-500 relative">
			<button
				on:click={auth}
				class="absolute top-1/2 transform -translate-y-1/2 right-0 text-xl font-medium bg-gray-200 p-2"
				style="border-left:1px solid #dbdbdb"
			>
				{#if key == ''}
					<img
						src={rightarow}
						alt="logo"
						class=" left-3 w-8 h-8"
						style="filter: invert(76%) sepia(16%) saturate(201%) hue-rotate(179deg) brightness(84%) contrast(88%);"
					/>
				{:else}
					<img src={rightarow} alt="logo" class=" left-3 w-8 h-8" />
				{/if}
			</button>
        
			
		</div>-->

		<textarea
			type="text"
			name="key"
			class="block w-full px-3 py-3 bg-gray-200
                text-lg font-medium shadow-sm text-gray-800 placeholder:font-light
                placeholder:text-gray-400
                focus:outline-none focus:border-gray-300"
			placeholder="Nhập khoá truy cập"
			bind:value={key}
		/>
		<Button on:click={postAuthentication} class="bg-stepnbuy">Truy cập</Button>
		<Button on:click={postNewKey}>Tạo khoá mới</Button>
	</Card>
</Box>
{/if}

<style>
	.none {
		display: none;
	}
	.active {
		display: block;
	}
	.bg-000 {
		filter: invert(0%) sepia(100%) saturate(7460%) hue-rotate(328deg) brightness(93%) contrast(94%);
	}
</style>

