<script>
	import { userStore, shopStore, filterStore } from '$lib/store';
	import { fade } from 'svelte/transition';
	import { setAlert } from '$lib/store';
	import { Box, Button, Modal, Title } from '$lib/comp';
	import { Card, CardTitle, CardBody, CardFoot } from '$lib/comp/card';
	import { goto } from '$app/navigation';
	import { onMount } from 'svelte';

	onMount(() => {
		getAll();
	});

	let openfilter = false;
	let classs;
	let quality;
	let level;
	let base;

	const getAll = async () => {
		const resp = await fetch('/', {
			method: 'PATCH'
		});
		if (resp.status == 200) {
			const res = await resp.json();
			shopStore.set(res.data);
			filterStore.set(res.data);
		}
		if (resp.status == 400) {
			setAlert(2, 'Không thể lấy dữ liệu');
		}
	};

	const filter = async () => {
		await getAll();
		if (classs != null || quality != null || level != null || base != null) {
			let newArray = $shopStore;
			if (classs) {
				newArray = newArray.filter((el) => el.type == classs);
			}
			if (quality) {
				newArray = newArray.filter((el) => el.rarity == quality);
			}
			if (level) {
				newArray = newArray.filter((el) => el.level >= level);
			}
			if (base) {
				newArray = newArray.filter((el) => el.base >= base);
			}
			console.log(newArray);
			filterStore.set(newArray);
		} else {
			filterStore.set($shopStore);
		}
		openfilter = false;
	};
</script>

<svelte:head>
	<title>StepN P2P</title>
</svelte:head>

<div class:hidden={openfilter == false} class="">
	<div class="fixed z-10 overflow-y-auto left-0 top-0 bottom-0 right-0" id="modal">
		<div class="flex justify-end min-height-100vh text-center sm:block sm:p-0">
			<div
				class="fixed inset-0 transition-opacity"
				on:click={() => {
					openfilter = false;
				}}
			>
				<div class="absolute inset-0 bg-gray-900 opacity-75" />
			</div>
			<div
				class="inline-block align-right w-80 min-h-screen bg-white rounded-tl-lg rounded-bl-lg text-left overflow-hidden shadow-xl transform transition-all
	    sm:align-middle sm:max-w-lg sm:w-full"
			>
				<div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
					<div class="flex flex-cols justify-between py-4">
						<h3 class="text-md font-bold text-gray-700 align-bottom">Lọc kết quả</h3>
						<h3
							on:click={() => {
								classs = null;
								quality = null;
								level = null;
								base = null;
							}}
							class="text-md font-medium text-gray-700 align-bottom text-orange-500 pointer"
						>
							Xoá
						</h3>
					</div>
					<div>
						<h2 class="text-lg font-medium text-gray-700 align-bottom ">CLASS</h2>
						<div class="grid grid-cols-2 p-4 gap-4">
							<button
								class:activefilter={classs == 'Walker'}
								on:click={() => {
									classs = 'Walker';
								}}
								class="text-md text-center p-1 rounded-full border-2 text-semibold">Walker</button
							>
							<button
								class:activefilter={classs == 'Jogger'}
								on:click={() => {
									classs = 'Jogger';
								}}
								class="text-md text-center p-1 rounded-full border-2 text-semibold">Jogger</button
							>
							<button
								class:activefilter={classs == 'Runner'}
								on:click={() => {
									classs = 'Runner';
								}}
								class="text-md text-center p-1 rounded-full border-2 text-semibold">Runner</button
							>
							<button
								class:activefilter={classs == 'Trainer'}
								on:click={() => {
									classs = 'Trainer';
								}}
								class="text-md text-center p-1 rounded-full border-2 text-semibold">Trainer</button
							>
						</div>
					</div>
					<div>
						<h2 class="text-lg font-medium text-gray-700 align-bottom ">QUALITY</h2>
						<div class="grid grid-cols-2 p-4 gap-4">
							<button
								class:activefilter={quality == 'Common'}
								on:click={() => {
									quality = 'Common';
								}}
								class="text-md text-center p-1 rounded-full border-2 text-semibold">Common</button
							>
							<button
								class:activefilter={quality == 'Uncommon'}
								on:click={() => {
									quality = 'Uncommon';
								}}
								class="text-md text-center p-1 rounded-full border-2 text-semibold">Uncommon</button
							>
							<button
								class:activefilter={quality == 'Rare'}
								on:click={() => {
									quality = 'Rare';
								}}
								class="text-md text-center p-1 rounded-full border-2 text-semibold">Rare</button
							>
							<button
								class:activefilter={quality == 'Epic'}
								on:click={() => {
									quality = 'Epic';
								}}
								class="text-md text-center p-1 rounded-full border-2 text-semibold">Epic</button
							>
							<button
								class:activefilter={quality == 'Legendary'}
								on:click={() => {
									quality = 'Legendary';
								}}
								class="text-md text-center p-1 rounded-full border-2 text-semibold"
								>Legendary</button
							>
						</div>
					</div>
					<div>
						<div class="grid grid-cols-2 items-center">
							<div class="text-lg grow font-medium text-gray-700 align-bottom ">LEVEL ></div>
							<input
								type="number"
								min="0"
								max="30"
								inputmode="numeric"
								class="grow block w-full px-3 py-2 bg-white border border-gray-300 rounded-md text-base shadow-sm placeholder-gray-400 focus:outline-none focus:border-gray-400 in"
								id="level"
								bind:value={level}
								placeholder="0"
							/>
						</div>
					</div>

					<div>
						<div class="grid grid-cols-2 items-center">
							<div class="text-lg grow font-medium text-gray-700 align-bottom ">BASE ></div>
							<input
								type="number"
								inputmode="decimal"
								min="0"
								class="grow block w-full px-3 py-2 bg-white border border-gray-300 rounded-md text-base shadow-sm placeholder-gray-400 focus:outline-none focus:border-gray-400 in"
								id="level"
								bind:value={base}
								placeholder="0"
							/>
						</div>
					</div>
				</div>
				<div class="flex justify-center my-10">
					<button
						on:click={filter}
						class="text-lg text-stepntext text-right font-semibold 
			p-1 px-4 rounded-full bg-stepnbuy text-stepntext shadow-md
			">KẾT QUẢ</button
					>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="flex flex-row justify-between items-center m-3 p-2 px-4">
	<div class="flex flex-row items-center space-x-3">
		<h1 class="text-xl font-semibold">Tìm giày</h1>
		<span><img src="/moieshos.svg" alt="logo" class="left-3 w-12 h-12" /></span>
	</div>

	<button
		class="flex flex-row space-x-2"
		on:click={() => {
			openfilter = true;
		}}
	>
		<img
			src="filter.png"
			alt="filter"
			class=" left-3 w-8 h-8"
			style="filter: invert(39%) sepia(18%) saturate(264%) hue-rotate(181deg) brightness(91%) contrast(84%);"
		/>
	</button>
</div>
<Box class="flex flex-col justify-center items-center">
	<div class="flex flex-col space-y-8">
		{#each $filterStore as giay (giay.id)}
			<div class="shadow-md bg-white shadow-black border-2  rounded-lg">
				<div class="flex flex-row justify-center overflow-hidden py-3">
					<div class="basis-1/2">
						<a href="/img/{giay.imgs[0]}">
							<img
								src="https://storage.googleapis.com/sola-e9c81.appspot.com/{giay.imgs[0]}.png"
								alt=""
							/>
						</a>
					</div>
					<div class="basis-1/2">
						<a href="/img/{giay.imgs[1]}">
							<img
								src="https://storage.googleapis.com/sola-e9c81.appspot.com/{giay.imgs[1]}.png"
								alt=""
							/>
						</a>
					</div>
				</div>
				<div class="flex flex-row justify-between px-4">
					<p class="text-gray-500 text-center text-ellipsis whitespace-nowrap overflow-hidden">
						{giay.type}
						{giay.rarity} Lv{giay.level} Base {giay.base}
					</p>
				</div>
				<p class="text-gray-500 text-center text-ellipsis whitespace-nowrap overflow-hidden" />
				<div class="bg-gray-200 p-2 flex flex-row justify-center items-center justify-between">
					<div class="px-4 text-xl text-stepntext text-right font-semibold italic">
						{giay.price} SOL
					</div>
					<a
						href="/order/{giay.id}"
						class="p-1 px-4 rounded-full bg-stepnbuy text-stepntext shadow-md  text-lg  text-right font-semibold"
						>MUA NGAY</a
					>
				</div>
			</div>
		{/each}
		{#if $filterStore.length == 0}
			<p
				in:fade={{ delay: 800 }}
				class=" py-20 text-gray-500 text-center text-ellipsis whitespace-nowrap overflow-hidden"
			>
				Không có dữ liệu
			</p>
		{/if}
	</div>
</Box>

<style>
	.activefilter {
		background-color: #6efccb;
	}
</style>
