<script>
	import { page } from '$app/stores';
	let id = $page.params.id;
	import { orderStore } from '$lib/store';
	import { fade } from 'svelte/transition';
	import { Box } from '$lib/comp';
	import { formatTime, countDown } from '$lib/fn';
	import { Card, CardTitle, CardBody, CardFoot } from '$lib/comp/card';
	import { onMount } from 'svelte';
	import { setAlert } from '$lib/store';
	export let data;
	let address ="" ;
	let countDownStr = '';
	onMount(() => {
		console.log(data);
		if (data.status > 0) {
			address =data.buyeraddress
			let bonusTime = 0
			if (data.status==1) {
				bonusTime = 10*60*1000;
			}
			countDown(data._updateTime*1000+bonusTime, (str) => {
				countDownStr = str;
			});
		}
	});

	const putOrder = async (id, status, address) => {
		if(status ==1 && address == ""){
            setAlert(2, 'Chưa nhập địa chỉ ví nhận giày')
			return
        }
		const response = await fetch('/order', {
			method: 'PUT',
			headers: {
				'Content-Type': 'application/json',
				Accept: 'application/json'
			},
			body: JSON.stringify({
				id: id,
				status: status,
				pub: address
			})
		});
		if(response.status == 200){
			setAlert(1, 'Cập nhật thành công')
		}
		const res = await response.json();
		console.log(res);
		location.reload();
	}

</script>
BUY
<Box  class="flex flex-col  m-3 p-2 px-4">
	<div class="flex flex-col justify-between ">
		<h1 class="text-2xl font-semibold">
			{#if data.status == 0} Xác nhận mua hàng{/if}
			{#if data.status == 1} Chờ người bán chuyển giày{/if}
			{#if data.status == 2} Kiểm tra và xác nhận{/if}
			{#if data.status == 3} Hoàn thành{/if}
			{#if data.status == 4} Đang khiếu nại{/if}
		</h1>
		{#if data.status == 1 && countDownStr}
			<p class="text-orange-500">Người bán sẽ chuyển giày sau {countDownStr}</p>
		{/if}

		{#if data.status == 2 && countDownStr}
			<p class="text-orange-500">Thời gian kiểm tra giày còn lại {countDownStr}</p>
		{/if}
	</div>

	<CardBody line={false}>
		<div class="flex flex-col space-y-8">
			<ol class="relative border-l border-gray-200 dark:border-gray-500">
				<li class="mb-4 ml-4">
					<div
						class:dark:bg-stepnbuy={data.status > 0}
						class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-500 dark:bg-gray"
					/>
					<time
						class:dark:text-black={data.status > 0}
						class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
						>NGƯỜI MUA xác nhận và được PNET khoá SOL tương ứng với giá trị giày.</time
					>
				</li>
				<li class="mb-4 ml-4">
					<div
						class:dark:bg-stepnbuy={data.status > 1}
						class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-500 dark:bg-gray"
					/>
					<time
						class:dark:dark:text-black={data.status > 1}
						class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
						>NGƯỜI BÁN chuyển giày.</time
					>
				</li>
				<li class="ml-4">
					<div
						class:dark:bg-stepnbuy={data.status > 2}
						class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-500 dark:bg-gray"
					/>
					<time
						class:dark:dark:text-black={data.status > 2}
						class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
						>NGƯỜI MUA xác nhận đã nhận được giày.</time
					>
				</li>
			</ol>

			<div class="shadow-md shadow-black border-2 bg-white p-2 rounded-lg space-y-3">
				<div class="grid grid-cols-2 items-center">
					<div class=" grow max-w-md flex flex-row justify-center overflow-hidden py-3">
						<div>
							<a href="/img/{data.imgs[0]}">
								<img
									src="https://storage.googleapis.com/sola-e9c81.appspot.com/{data.imgs[0]}.png"
									alt=""
								/>
							</a>
						</div>
						<div>
							<a href="/img/{data.imgs[1]}">
								<img
									src="https://storage.googleapis.com/sola-e9c81.appspot.com/{data.imgs[1]}.png"
									alt=""
								/>
							</a>
						</div>
					</div>
					<div>
						<p class=" grow px-2 text-xl text-center font-semibold italic">{data.price} SOL</p>
					</div>
				</div>

                <div>
                    <label for="address">Địa chỉ ví nhận giày</label>
                    <div class="text-md font-medium text-gray-500 relative">
                        <textarea
                            rows={address?"auto":"1"}
                            disabled={data.status != 0}
                            type="text"
                            name="key"
                            class="block w-full px-3 py-3  bg-gray-200
                                text-lg font-medium shadow-sm text-gray-800 placeholder:font-light
                                placeholder:text-gray-400
                                focus:outline-none focus:border-gray-300"
                            bind:value={address}
                        />

                    </div>
                </div>
			</div>
		</div>
		
	</CardBody>
	<CardFoot />
</Box>

<div
	class:hidden={data.status != 0}
	class="p-3 fixed bottom-0 left-0 right-0 border-t-2 border-slate-300 bg-white flex justify-between items-center z-20"
>
	<button
		on:click={() => {
			history.go(-1);
			return false;
		}}
		class="  p-3 whitespace-nowrap text-orange-500"
	>
		Huỷ bỏ
	</button>
	<button class="bg-stepnbuy p-3 rounded-md" on:click={()=>{
		putOrder(data.id,1, address)
	}}>
		Xác nhận mua. Thông báo cho người bán chuyển giày
	</button>
</div>
<div
	class:hidden={data.status != 1}
	class="p-3 fixed bottom-0 left-0 right-0 border-t-2 border-slate-300 bg-white flex justify-between items-center z-20"
>
	<button
		on:click={()=>{
			putOrder(data.id,4)
		}}
		class=" disabled:opacity-75  p-3 whitespace-nowrap text-orange-500"
	>
		Khiếu nại
	</button>
	<button disabled class=" disabled:opacity-75 bg-stepnbuy p-3 rounded-md ">
		Đợi người bán chuyển giày
	</button>
</div>
<div
	class:hidden={data.status != 2}
	class="p-3 fixed bottom-0 left-0 right-0 border-t-2 border-slate-300 bg-white flex justify-between items-center z-20"
>
	<button
	on:click={()=>{
		putOrder(data.id,4)
	}}
		class="p-3 whitespace-nowrap text-orange-500"
	>
		Khiếu nại
	</button>
	<button class="bg-stepnbuy p-3 rounded-md " on:click={()=>{
		putOrder(data.id,3)
	}}>
		Tôi đã nhận giày và đã kiểm tra đúng thông số
	</button>
</div>
