<script>

import { page } from '$app/stores';
import { goto } from '$app/navigation';


</script>
<div class="p-4 fixed top-0 left-0 right-0 h-14 border-b-2 border-slate-300 bg-white flex justify-between items-center z-20">
	<button on:click={()=>{history.go(-1); return false;}}>
		<img src="/left-arrow.png" alt="back" class="w-8 h-8">
	</button>
	<div>
		<p>time</p>
    </div>
</div>
<h1>CHAT</h1>

<div class="p-4 fixed bottom-0 left-0 right-0  border-t-2 border-slate-300 bg-white flex justify-between items-center z-20">
	<button on:click={()=>{history.go(-1); return false;}}>
		<img src="/left-arrow.png" alt="back" class="w-8 h-8">
	</button>
	<div>
		<p>time</p>
    </div>
</div>