<script>
	import { page } from '$app/stores';
	let id = $page.params.id;
	import { onMount } from 'svelte';
	import { setAlert } from '$lib/store';
	import Buy from './_Buy.svelte'
	import Sell from './_Sell.svelte'
	let own
	let data;

	onMount(() => {
		getAll();
	});
	const getAll = async () => {
		const resp = await fetch(`/order/${id}`, {
			method: 'PATCH',
			body: JSON.stringify({ id })
		});
		if (resp.status == 200) {
			const res = await resp.json();
			console.log(res);
			own = res.data.own
			data = res.data;
		}
		if (resp.status == 204) {
			setAlert(2, 'Không tồn tại');
			history.go(-1);
			return false;
		}
	};
</script>

<svelte:head>
	<title>PNET | LỆNH</title>
</svelte:head>
<div
	class="p-4 sticky top-0 left-0 right-0 h-14 border-b-2 border-slate-300 bg-white flex justify-between items-center z-20"
>
	<button
		on:click={() => {
			history.go(-1);
			return false;
		}}
	>
		<img src="/left-arrow.png" alt="back" class="w-8 h-8" />
	</button>
	<a href="{id}/chat">
		<img src="/chat.png" alt="back" class="w-6 h-6" />
	</a>
</div>


{#if data}
	{#if own == false}
	<Buy data={data}/>
	{/if}
	{#if own == true}
	<Sell data={data}/>
	{/if}
{/if}
