<script>
    import { goto } from '$app/navigation';
	import { onMount} from 'svelte';
	import {Loading} from '$lib/comp';
	import {userStore} from '$lib/store';

    import { page } from '$app/stores';
	let ref = $page.params.id;

	import {  PublicKey, LAMPORTS_PER_SOL } from '@solana/web3.js';
	import base58 from 'bs58'
	import { connection } from '$lib/connection';

	onMount(async () => {
		if($userStore.pub) {
			goto('/')
		}else{
			newKey()
		}
	});


	const newKey = async () => {
        const resp = await fetch('/user', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				Accept: 'application/json'
			},
			body: JSON.stringify({ ref: ref })
		})

		if(resp.status == 200) {
			const data = await resp.json()
			const balance = (await connection.getBalance(new PublicKey(base58.decode(data.pub))))/ LAMPORTS_PER_SOL
			userStore.set({...data, sol:balance - data.lock})
			console.log($userStore)
			goto(`/user/new/${data.key}`)
			location.reload();
		}else{
			setAlert(1, "Lỗi không xác định")
		}
	};

</script>

<Loading/>