<script>
	import { page } from '$app/stores';
	let key = $page.params.key;
	import { Box, Button, Modal } from '$lib/comp';
	import { Card, CardTitle, CardBody, CardFoot } from '$lib/comp/card';
	import Clipboard from 'svelte-clipboard';
</script>


<div class="flex m-3  flex-col justify-center items-center">
	
	<div
		class="container  bg-white shadow-md rounded-md p-4 py-6 flex flex-col space-y-6 "
	>
		<h1 class="text-lg italic text-center font-semibold">LƯU KHOÁ TRUY CẬP</h1>

		<!--<div class="text-md font-medium text-gray-500 relative">
			<button
				on:click={auth}
				class="absolute top-1/2 transform -translate-y-1/2 right-0 text-xl font-medium bg-gray-200 p-2"
				style="border-left:1px solid #dbdbdb"
			>
				{#if key == ''}
					<img
						src={rightarow}
						alt="logo"
						class=" left-3 w-8 h-8"
						style="filter: invert(76%) sepia(16%) saturate(201%) hue-rotate(179deg) brightness(84%) contrast(88%);"
					/>
				{:else}
					<img src={rightarow} alt="logo" class=" left-3 w-8 h-8" />
				{/if}
			</button>
        
			
		</div>-->
		<textarea
			type="text"
			name="key"
			class="block italic w-full px-3 py-3  bg-gray-200
                text-lg font-medium shadow-sm text-black placeholder:font-light
                placeholder:text-gray-400
                focus:outline-none focus:border-gray-300"
			placeholder="Nhập khoá truy cập"
			bind:value={key}
		/>
		<p class="text-md text-semibold text-gray-500">
			Khoá truy cập dùng để truy cập tài khoản của bạn. Không để lộ hoặc làm mất.</p>
		
	
		<Clipboard text={key} let:copy>
			<button
				on:click={copy}
				class="p-3 bg-stepnbuy italic border-2 border-black text-lg font-semibold tracking-tight rounded-full"
			>
				COPY
			</button>
		</Clipboard>
		
		
	</div>
</div>


