<script>
	import { orderStore } from '$lib/store';
	import { fade } from 'svelte/transition';
	import { Box } from '$lib/comp';
	import { formatTime } from '$lib/fn';
	import { Card, CardTitle, CardBody, CardFoot } from '$lib/comp/card';
	import { onMount } from 'svelte';
	let solnet = 'devnet';

	onMount(() => {
		getAll();
	});
	const getAll = async () => {
		const resp = await fetch('/order', {
			method: 'PATCH'
		});
		if (resp.status == 200) {
			const res = await resp.json();
			orderStore.set(res.data);
			
		}
	};
</script>

<svelte:head>
	<title>PNET | LỆNH</title>
</svelte:head>

<div class="flex flex-row justify-between items-center m-3 p-2 px-4">
	<div class='flex flex-row items-center space-x-3'>
		<h1 class="text-xl font-semibold">Lệnh mở</h1>
	</div>
</div>

<Box>  
		
			<div class="flex flex-col space-y-8">
				{#each $orderStore as giay (giay.id)}
					<div class="shadow-md border-2 rounded-md p-2 space-y-2 bg-white">
						<div>
							<p
								class={giay.own
									? 'text-pink-700 font-bold text-lg'
									: 'text-green-700 font-bold text-lg'}
							>
								{giay.own ? 'BÁN' : 'MUA'}
							</p>
						</div>
						<a href='/order/{giay.id}' class="flex flex-cols items-center justify-between">
							<div>
								<p
									class="text-gray-800 text-center text-ellipsis whitespace-nowrap overflow-hidden"
								>
									{giay.type}
									{giay.rarity}
								</p>
								<p
									class="text-gray-800 text-center text-ellipsis whitespace-nowrap overflow-hidden"
								>
									Lv{giay.level} Base {giay.base}
								</p>
							</div>
							<div class="px-2 text-xl text-right font-semibold italic">{giay.price} SOL</div>
						</a>
						<div class="flex flex-row justify-center items-center justify-between ">
							<p class="text-gray-500 text-center text-ellipsis whitespace-nowrap overflow-hidden">
								{formatTime(giay.createAt)}
							</p>
                            <a href='/order/{giay.id}/chat' class="p-1 px-4 bg-buy flex flex-cols justify-center items-center space-x-3 rounded-md">
								<img src="/chat.png" alt="chat" class="w-6 h-6">
                                <p class='text-black text-bold text-lg'>Liên hệ</p>
							</a>
						</div>
					</div>
				{/each}
				{#if $orderStore.length == 0}
					<p
						in:fade={{ delay: 1000 }}
						class=" py-20 text-gray-500 text-center text-ellipsis whitespace-nowrap overflow-hidden"
					>
						Không có dữ liệu
					</p>
				{/if}
			</div>
</Box>
