<script>
	let fileInput;
	let imgBase;
	let imgTotal;
	let files;


	let submit = async () => {
		let res = await fetch('/test', {
			method: 'PATCH',
			body: JSON.stringify({
				img: imgBase.split(',')[1],
                img1: imgTotal && imgTotal.split(',')[1] 
			})
		});
		if (res.status == 200) {
			let body = await res.json();
			console.log(body);
		}
	};

	function getBase64(files) {
		console.log(files[0]);
		console.log(files[1]);
        let reader = new FileReader();
        reader.readAsDataURL(files[0]);
        reader.onload = (e) => {
            imgBase = e.target.result
        };
        if(files.length >1){
            let reader1 = new FileReader();
            reader1.readAsDataURL(files[1]);
            reader1.onload = (e) => {
                imgTotal = e.target.result
            };
        }

    }
	
</script>

<svelte:head>
	<title>PNET | BÁN</title>
</svelte:head>

<div class="flex flex-col text-center">
	<div on:click={() => fileInput.click()}>
		{#if imgBase}
			<img src={imgBase} alt="upload" />
		{:else}
			<div class="border border-2 rounded-md">
				<img src="upload-button.png" alt="upload" class="opacity-30 w-1/4 h-1/4 mx-auto my-6 " />
			</div>
		{/if}
		<input
			class="hidden"
			id="file-to-upload"
			type="file"
			accept=".png,.jpg"
			multiple
			bind:files
			bind:this={fileInput}
			on:change={() => getBase64(files)}
		/>
	</div>
	<div on:click={() => fileInput.click()}>
		{#if imgTotal}
			<img src={imgTotal} alt="upload" />
		{/if}
	</div>
</div>

<form on:submit|preventDefault={submit} class="space-y-8">
	<div class="grow flex justify-center items-center">
		<button type="submit" disabled={!imgBase} class="w-full bg-buy rounded-full p-5 py-3 pt-3 text-xl  font-semibold">
			BÁN
		</button>
	</div>
</form>
