<script>
	let id = ''
		let os = []
	const getorder = async () => {
		const response = await fetch('/order', {
			method: 'PATCH',
			headers: {
				'Content-Type': 'application/json',
				Accept: 'application/json'
			}
		});

		console.log(response);
		const res = await response.json();
		os= res.data;
		console.log(res);
	};

    const getorderid = async () => {
		console.log('get by id')
		const response = await fetch(`/order/${id}`, {
			method: 'PATCH',
			headers: {
				'Content-Type': 'application/json',
				Accept: 'application/json'
			}
		});

		console.log(response);
		const res = await response.json();
		console.log(res);
	};

	let sells = []
	const getsell = async () => {
		const response = await fetch('/sell', {
			method: 'PATCH',
			headers: {
				'Content-Type': 'application/json',
				Accept: 'application/json'
			}
		});

		console.log(response);
		const res = await response.json();
		sells = res.data;
		console.log(res);
	};

	const put = async (id, status, address) => {
		const response = await fetch('/order', {
			method: 'PUT',
			headers: {
				'Content-Type': 'application/json',
				Accept: 'application/json'
			},
			body: JSON.stringify({
				id: id,
				status: status,
				pub: address
			})
		});

		console.log(response);
		const res = await response.json();
		console.log(res);
	}

	let adresss = 'HBD15poNrvP259wzTBoUGobcTr1RTvn65qjREBhnCMkX'


</script>

{#each os as o (o.id)}
	<div class="p-5 my-3">
		<div>
			<div>{o.id}</div>
			<div>{o.type}</div>
			<div>{o.price}</div>
			<div>{o.rarity}</div>
		</div>
		<button class="bg-gray-300 p-2" on:click={()=>{put(o.id, 1, adresss)}}>PUT 1 /order </button>
		<button class="bg-gray-300 p-2" on:click={()=>{put(o.id, 2)}}>PUT 2  /order </button>
		<button class="bg-gray-300 p-2" on:click={()=>{put(o.id, 3)}}>PUT 3  /order </button>
		<button class="bg-gray-300 p-2" on:click={()=>{put(o.id, 4)}}>PUT 4  /order </button>
	</div>
{:else}
	<div class="p-5 my-3">
		<div>No sell</div>
	</div>
{/each}

<div class="p-5 my-3">
	<button class="bg-gray-300 p-2" on:click={()=>{getorder()}}>GET /order</button>
</div>
<div class="p-5 my-3">
	<div>
		<input class="border-2 w-full" type="text" bind:value={id} />
	</div>
	<button class="bg-gray-300 p-2" on:click={()=>{getorderid()}}>GET /order/[id]</button>
</div>

<div class="p-5 my-3">
	<button class="bg-gray-300 p-2" on:click={()=>{getsell()}}>GET /sell</button>
</div>


{#each sells as sell (sell.id)}
	<div class="p-5 my-3">
		<div>
			<div>{sell.id}</div>
			<div>{sell.type}</div>
			<div>{sell.price}</div>
			<div>{sell.rarity}</div>
		</div>
		<button class="bg-gray-300 p-2" on:click={()=>{put(sell.id, 1, adresss)}}>PUT 1 /order </button>
		<button class="bg-gray-300 p-2" on:click={()=>{put(sell.id, 2)}}>PUT 2  /order </button>
		<button class="bg-gray-300 p-2" on:click={()=>{put(sell.id, 3)}}>PUT 3  /order </button>
		<button class="bg-gray-300 p-2" on:click={()=>{put(sell.id, 4)}}>PUT 4  /order </button>
	</div>
{:else}
	<div class="p-5 my-3">
		<div>No sell</div>
	</div>
{/each}

