<script>
    const posttest=async()=>{
        const response = await fetch('/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                Accept: 'application/json'
            },
            body: JSON.stringify({
                id: '1',
                status: '1',
                pub: '0x0'
            })
        });

        console.log(response);
        const res = await response.json();
        console.log(res);
    }
</script>

<button on:click={posttest}>
    CLICK
</button>