<script>
	import { userStore } from '$lib/store';
	import { Box, Button, Modal } from '$lib/comp';
	import { Card, CardTitle, CardBody, CardFoot } from '$lib/comp/card';
	import { onMount } from 'svelte';
	import Clipboard from 'svelte-clipboard';
	import QRCode from 'qrcode-svg';
	let im;
	onMount(() => {
		let svg = new QRCode($userStore.pub).svg();
		im = svg;
	});
</script>

<svelte:head>
	<title>PNET | User</title>
</svelte:head>

<Box>
	<Card>
		<CardTitle />
		<CardBody line={false}>
			<div class="flex flex-col items-center justify-content space-y-5">
				<h1 class="text-xl align-center font-semibold">Nạp SOL</h1>
				{@html im}
				<p class="text-md text-semibold text-center text-gray-500">
					Chỉ gửi SOL đến địa chỉ nạp này. Địa chỉ này không hỗ trợ nạp NFT.
				</p>
				<Clipboard text={$userStore.pub} let:copy
					><div
						on:click={copy}
						class="text-md w-full font-medium text-gray-500 relative"
						style="cursor:pointer"
					>
						<div
							class="absolute top-1/2 transform -translate-y-1/2 right-0 text-xl font-medium bg-gray-200 p-2"
							style="border-left:1px solid #dbdbdb"
						>
							<img
								src="copy-two-paper-sheets-interface-symbol.png"
								alt="copy"
								class=" left-3 w-8 h-8"
								style="filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(338deg) brightness(106%) contrast(109%);"
							/>
						</div>
						<input
							type="text"
							readonly
							name="idSne"
							class="block w-full px-3 pr-12 py-3  bg-gray-200
                            text-lg font-medium shadow-sm text-gray-700 placeholder:font-light
                            placeholder:text-gray-400
                            focus:outline-none focus:border-gray-300"
							placeholder="Nhập khoá bí mật"
							bind:value={$userStore.pub}
						/>
					</div>
				</Clipboard>
			</div></CardBody
		>

		<CardFoot />
	</Card>
</Box>
