<script>
	import { userStore } from '$lib/store';
	import { Box, Button, Modal } from '$lib/comp';
	import { Card, CardTitle, CardBody, CardFoot } from '$lib/comp/card';

    let solnet = 'devnet'
	const strTime=(createAt)=>{
		return new Date(createAt).toLocaleString('en-US')
	}

</script>

<svelte:head>
	<title>PNET | User</title>
</svelte:head>

<Box>
	<Card>
		<CardTitle />
		<CardBody line={false}>
			<div class="flex flex-col items-center justify-content space-y-3">
				<h1 class="text-xl align-center font-semibold">Ví Solana</h1>
                <p class="italic align-center font-semibold py-3 text-gray-900" style="font-size:30px"> {$userStore.sol} SOL</p>
                <p class="align-center text-wrap">{$userStore.pub.substring(0,6)}...{$userStore.pub.substring(38)}</p>
				
			</div>
        </CardBody>
        <CardFoot>
            <div class="flex w-full justify-around justify-center space-x-2">
				<a sveltekit:prefetch href="/user/dispose"  class="grow shadow-md bg-buy flex justify-center items-center rounded-md">
					<button class="p-5 py-3 pt-3 text-xl text-gray-800 font-semibold">
						Nạp
					</button>
				</a>
				<a sveltekit:prefetch href="/user/withdraw" class="grow flex shadow-md bg-gray-300 justify-center items-center rounded-md">
					<button class="p-5 py-3 pt-3 text-xl text-gray-800 font-semibold">
						Rút
                    </button>
				</a>
			</div>

			
        </CardFoot>
    </Card>
</Box>
{#if $userStore.history.length != 0}
<Box>
	<Card>
		<CardBody line={false}>
				<div class="flex flex-col justify-content divide-y">
					{#each $userStore.history.reverse() as his (his.txid)}
						<div class="flex flex-col justify-center overflow-hidden space-y-3 py-3">
							<a href="https://explorer.solana.com/tx/{his.txid}?cluster={solnet}" class="text-md text-blue-700 text-ellipsis whitespace-nowrap overflow-hidden mr-20">{his.txid}</a>
							<p class="text-gray-500 text-ellipsis whitespace-nowrap overflow-hidden text-right">{strTime(his.createAt)}</p>
						</div>
					{/each}
				</div>
			</CardBody>
			<CardFoot/> 
	</Card>
</Box>
{/if}