<script>
	import { goto } from '$app/navigation';
	import { onMount, onDestroy } from 'svelte';
	import { userStore, setAlert } from '$lib/store';
	import { env } from '$lib/fn';
	import { dev } from '$app/env';
	import base58 from 'bs58';
	import { clusterApiUrl, Connection, Keypair, PublicKey, LAMPORTS_PER_SOL } from '@solana/web3.js';

	import { Box, Card, Title, Button, Alert } from '$lib/comp';
	import { api } from '$lib/api';
	import { connection } from '$lib/connection';

	let key;

	const postAuthentication = async () => {
		if (!key) {
			setAlert(2, 'Bạn chưa nhập khoá truy cập');
			return;
		}

		const resp = await fetch('/', {
			method: 'POST',
			body: JSON.stringify({
				method: 'login',
				data:{id: key}
			})
		})

		if(resp.status == 200) {
			const res = await resp.json()
			const balance = await connection.getBalance(new PublicKey(base58.decode(res.data.pub)))
			userStore.set({...res.data, sol:balance - res.data.lock})
			console.log($userStore)
			goto('/')
		}
		if(resp.status ==400){
			setAlert(3, 'Khoá không hợp lệ')
		}
	};

	const postNewKey = async () => {
		const resp = await fetch('/', {
			method: 'POST',
			body: JSON.stringify({
				method: 'newUser',
				data:{ref:''}
			})
		})

		if(resp.status == 200) {
			const res = await resp.json()
			const balance = await connection.getBalance(new PublicKey(res.data.pub))
			userStore.set({...res.data, sol:balance - res.data.lock})
			console.log($userStore)
			goto(`/new/${res.data.key}`)
		}
	};
</script>

<Box class="flex flex-col justify-center items-center">
	<div class="flex justify-center py-14">
		<div class="text-lg" style="color:#687173">
			<div class="space-y-2">
				<h1
					class="font-semibold text-gray-800 text-center"
					style="font-family: TTOctosquares-Black;
                            font-size: 48px;
                            letter-spacing: 0px;
                            line-height: 40px;"
				>
					PNET
				</h1>
				<p class="text-2xl font-light text-center text-gray-500">StepN P2P Network</p>
			</div>
		</div>
	</div>

	<Card>
		<Title>ĐĂNG NHẬP</Title>

		<!--<div class="text-md font-medium text-gray-500 relative">
			<button
				on:click={auth}
				class="absolute top-1/2 transform -translate-y-1/2 right-0 text-xl font-medium bg-gray-200 p-2"
				style="border-left:1px solid #dbdbdb"
			>
				{#if key == ''}
					<img
						src={rightarow}
						alt="logo"
						class=" left-3 w-8 h-8"
						style="filter: invert(76%) sepia(16%) saturate(201%) hue-rotate(179deg) brightness(84%) contrast(88%);"
					/>
				{:else}
					<img src={rightarow} alt="logo" class=" left-3 w-8 h-8" />
				{/if}
			</button>
        
			
		</div>-->

		<textarea
			type="text"
			name="key"
			class="block w-full px-3 py-3 bg-gray-200
                text-lg font-medium shadow-sm text-gray-800 placeholder:font-light
                placeholder:text-gray-400
                focus:outline-none focus:border-gray-300"
			placeholder="Nhập khoá truy cập"
			bind:value={key}
		/>
		<Button on:click={postAuthentication} class="bg-stepnbuy">Truy cập</Button>
		<Button on:click={postNewKey}>Tạo khoá mới</Button>
	</Card>
</Box>
