<script>
	import { userStore, setAlert } from '$lib/store';
	import { goto } from '$app/navigation';
	import { Box, Button, Modal } from '$lib/comp';
	import { Card, CardTitle, CardBody, CardFoot } from '$lib/comp/card';
	import { onMount } from 'svelte';
	import QrScanner from 'qr-scanner';

	let address = '';
	let amount;
	let videoEl;

	const getScan = () => {
		const qrScanner = new QrScanner(videoEl, (result) => {
			address = result;
			qrScanner.stop()

		});
		qrScanner.start();
	};

	const getWithdraw = async () => {
		if (address == '' || amount > Number($userStore.sol) || amount < 0.0000001) {
			setAlert(
				2,
				'Địa chỉ không hợp lệ hoặc số lượng rút vượt quá tài khoản của bạn. Vui lòng kiểm tra lại.'
			);
		} else {
			let res = await fetch('/user/withdraw', {
				method: 'POST',
				body: JSON.stringify({
					address: address,
					amount: amount
				})
			});
			if (res.status === 200) {
				let body = await res.json()
				console.log(body.data)
				userStore.update({history: body.data.history})
				goto(`/user`)
				location.reload();
			}else{
				setAlert(
				1,
				'Đã xảy ra lỗi với mạng Solana. Vui lòng thử lại sau ít phút'
			);
			}
		}
	};
</script>

<svelte:head>
	<title>PNET | User</title>
</svelte:head>

    <video bind:this={videoEl} class="fixed top-0 right-0 left-0 bottom-0" style="z-index:11"/>

<Box>
	<Card>
		<CardTitle />
		<CardBody line={false}>
			<div class="flex flex-col justify-content space-y-5">
				<h1 class="text-xl font-semibold">Rút SOL</h1>
				<div>
					<label for="address">Địa chỉ ví nhận SOL</label>
					<div class="text-md font-medium text-gray-500 relative">
						<button
							on:click={getScan}
							class="absolute top-1/2 transform -translate-y-1/2 right-0 text-xl font-medium bg-gray-200 p-2"
							style="border-left:1px solid #dbdbdb"
						>
							<img src="scan.png" alt="qr" class=" left-3 w-8 h-8" />
						</button>
						<input
							type="text"
							name="key"
							class="block w-full px-3 py-3  bg-gray-200
                                text-lg font-medium shadow-sm text-gray-800 placeholder:font-light
                                placeholder:text-gray-400
                                focus:outline-none focus:border-gray-300"
							bind:value={address}
						/>
					</div>
				</div>
				<div>
					<label for="amount">Số lượng (Tối đa {$userStore.sol -0.000005} SOL)</label>
					<div class="text-md font-medium text-gray-500 relative">
						<button
							on:click={() => {
								amount = $userStore.sol-0.000005;
							}}
							class="absolute top-1/2 transform -translate-y-1/2 right-0 text-xl font-medium bg-gray-200 p-2"
							style="border-left:1px solid #dbdbdb"
							><span class="text-orange-500 pointer">Max</span></button
						>
						<input
							type="number"
							inputmode="decimal"
							name="amount"
							class="block w-full px-3 py-3  bg-gray-200
                                text-lg font-medium shadow-sm text-gray-800 placeholder:font-light
                                placeholder:text-gray-400
                                focus:outline-none focus:border-gray-300"
							placeholder="0.0"
							bind:value={amount}
						/>
					</div>
				</div>
			</div></CardBody
		>
		<CardFoot>
			<button
				on:click={getWithdraw}
				class="grow flex shadow-md bg-gray-300 justify-center items-center"
			>
				<p class="p-5 py-3 pt-3 text-xl text-gray-800 font-semibold">Rút</p>
			</button>
		</CardFoot>
	</Card>
</Box>
