<script>
	import { userStore } from '$lib/store';
	import { goto } from '$app/navigation';
	import { setAlert } from '$lib/store';
	import { Box, Button, Modal } from '$lib/comp';
	import { Card, CardTitle, CardBody, CardFoot } from '$lib/comp/card';

	let fileInput;
	let imgBase;
	let imgTotal;
	let files;
	let sol;
	let note;

	let submit = async () => {
		if(!imgBase || !sol || sol<=0){
			setAlert(2, 'Vui lòng nhập đầy đủ thông tin');
			return;
		}
		let res = await fetch('/sell', {
			method: 'POST',
			body: JSON.stringify({
				price: sol,
				note: note,
				img: imgBase.split(',')[1],
                img1: imgTotal ? imgTotal.split(',')[1]:'' 
			})
		});
		if (res.status == 200) {
			let body = await res.json();
			console.log(body);
			goto('/sell')
			location.reload();
		}else{
			setAlert(1, 'Lỗi hệ thống');
		}
	};

	function getBase64(files) {
		console.log(files[0]);
		console.log(files[1]);
        let reader = new FileReader();
        reader.readAsDataURL(files[0]);
        reader.onload = (e) => {
            imgBase = e.target.result
        };
        if(files.length >1){
            let reader1 = new FileReader();
            reader1.readAsDataURL(files[1]);
            reader1.onload = (e) => {
                imgTotal = e.target.result
            };
        }

    }

</script>

<svelte:head>
	<title>PNET | BÁN</title>
</svelte:head>

<Box>
	<Card>
		<label for="id" class="text-lg font-medium text-gray-700  ">TẢI LÊN ẢNH GIÀY MUỐN BÁN</label>
		<div class="text-base font-light text-gray-400 mb-6">
			Tải lên 2 ảnh chụp giày của bạn có chứa điểm cơ sở (base) và tổng điểm, nếu bạn chưa cộng điểm
			thì đăng 1 tấm ảnh thể hiện điểm cơ sở. Ảnh càng chi tiết càng thu hút người mua.
		</div>
		<div on:click={() => fileInput.click()}>
			{#if imgBase}
				<img src={imgBase} alt="upload" />
			{:else}
				<div class="border border-2 rounded-md">
					<img src="/upload-button.png" alt="upload" class="opacity-30 w-1/4 h-1/4 mx-auto my-6 " />
				</div>
			{/if}
			<input
				class="hidden"
				id="file-to-upload"
				type="file"
				accept=".png,.jpg"
				multiple
				bind:files
				bind:this={fileInput}
				on:change={() => getBase64(files)}
			/>
		</div>
		<div on:click={() => fileInput.click()}>
			{#if imgTotal}
				<img src={imgTotal} alt="upload" />
			{/if}
		</div>

		<form on:submit|preventDefault={submit} class="space-y-8">
			<div>
				<label for="level" class="text-lg font-medium text-gray-700 align-bottom "
					>Price (SOL)</label
				>

				<input
					type="number"
					inputmode="decimal"
					step="0.0000001"
					min="0"
					class="block w-full px-3 py-2 bg-white border border-gray-300 rounded-md text-base shadow-sm placeholder-gray-400 focus:outline-none focus:border-gray-400 in"
					id="level"
					bind:value={sol}
					placeholder="0.0"
				/>

			</div>
			<div>
				<label for="level" class="text-lg font-medium text-gray-700 align-bottom "
					>Ghi chú (Không bắt buộc)</label
				>

				<textarea
					type="text"
					class="block w-full px-3 py-2 bg-white border border-gray-300 rounded-md text-base shadow-sm placeholder-gray-400 focus:outline-none focus:border-gray-400 in"
					id="level"
					bind:value={note}
					placeholder="Gửi lời nhắn đến người mua"
				/>
				<!--
                    <div class="text-base font-light text-gray-400">
                        Địa chỉ đúng với thực tế sẽ giúp tăng lượng khách hàng.
                    </div>
                    -->
			</div>
			<div class="grow flex justify-center items-center">
				<button
					type="submit"
					class="w-full bg-buy rounded-full p-5 py-3 pt-3 text-xl  font-semibold"
				>
					BÁN
				</button>
			</div>
		</form>

		<CardFoot />
	</Card>
</Box>
