<script>
	import { sellStore } from '$lib/store';
	import { fade } from 'svelte/transition';
	import { Box } from '$lib/comp';
	import {setAlert} from '$lib/store'
	import { Card, CardTitle, CardBody, CardFoot } from '$lib/comp/card';
	import { onMount } from 'svelte';
	let solnet = 'devnet';
	import {formatTime} from '$lib/fn'
	onMount(() => {
		getAll()
	});
	const getAll = async () => {
		const resp = await fetch('/sell', {
			method: 'PATCH'
		})
		if(resp.status == 200) {
			const res = await resp.json()
			sellStore.set(res.data)
		}
	}

	const del = async (id) => {
		const resp = await fetch('/sell', {
			method: 'DELETE',
			body:JSON.stringify({id:id})
		})
		if(resp.status == 200) {
			getAll()

		}
		if(resp.status == 204){
			setAlert(2, 'Không thực hiện được.')
			getAll()
		}
	}
</script>

<svelte:head>
	<title>PNET | BÁN</title>
</svelte:head>
<div class="flex flex-row justify-between items-center m-3 p-2 px-4">
	<div class='flex flex-row items-center space-x-3'>
		<h1 class="text-xl font-semibold">Đang bán</h1>
	</div>
	<a href='/sell/add' class="flex flex-row space-x-2" >
		<img src="add.png" alt="filter" class=" left-3 w-6 h-6"
		style="filter: invert(39%) sepia(18%) saturate(264%) hue-rotate(181deg) brightness(91%) contrast(84%);" />
	</a>
	
</div>

<Box>
			<div class="flex flex-col space-y-8">
				{#each $sellStore as giay (giay.createAt)}
					<div class="shadow-lg shadow-black border-2  rounded-lg  bg-white">
						<div class="flex flex-row justify-center overflow-hidden py-3">
							<div class="basis-1/2">
								<a href="/img/{giay.imgs[0]}">
									<img
										src="https://storage.googleapis.com/sola-e9c81.appspot.com/{giay.imgs[0]}.png"
										alt=""
									/>
								</a>
							</div>
							<div class="basis-1/2">
								<a href="/img/{giay.imgs[1]}">
									<img
										src="https://storage.googleapis.com/sola-e9c81.appspot.com/{giay.imgs[1]}.png"
										alt=""
									/>
								</a>
							</div>
						</div><p class="text-gray-500 px-2 text-ellipsis whitespace-nowrap overflow-hidden">
								{formatTime(giay.createAt)}
							</p>
						<div class="bg-gray-200 p-2 flex flex-row justify-center items-center justify-between">
							
							<div class="px-2 text-xl text-right font-semibold italic">{giay.price} SOL</div>
							<button class="text-md font-medium text-gray-700 align-bottom text-orange-500 pointer"
							on:click={()=>{del(giay.id)}} >Xoá</button>
						
						</div>
					</div>
				{/each}
				{#if $sellStore.length == 0}
					<p
						in:fade={{ delay: 1000 }}
						class=" py-20 text-gray-500 text-center text-ellipsis whitespace-nowrap overflow-hidden"
					>
						Không có dữ liệu
					</p>
				{/if}
			</div>

</Box>
