<script>
	import { userStore } from '$lib/store';

	import Clipboard from 'svelte-clipboard';
	let ref = `https://pnet.app/ref/${$userStore.pub}`;
</script>

<div class="container p-5">
	<h1 class="text-2xl font-semibold">PNET là gì?</h1>
	<p class="text-lg my-2 mb-5">
		PNET là trang web hỗ trợ giao dịch P2P giày trong game STEPN. Với các ưu điểm chi phí rẻ, giao
		dịch nhanh chóng giúp người mua tìm được đồi giày chỉ số tốt với giá hợp lý, giúp người bán treo
		bán giày liên tục mà không lo canh thời gian gỡ xuống để lấy năng lượng chạy.
	</p>

	<h2 class="text-xl font-semibold">Quy trình mua bán giày P2P</h2>
	<div class="text-lg my-2 mb-5">
		<p>
			1. NGƯỜI BÁN và NGƯỜI MUA truy cập trang pnet.app tạo tài khoản và lưu giữ chuỗi mật khẩu.
			(mật khẩu chỉ có giá trị sử dụng trên PNET dùng để truy cập tài khoản và thực hiện giao dịch)
		</p>
		<p>2. NGƯỜI BÁN đăng bán giày kèm theo giá bán.</p>
		<p>
			3. NGƯỜI MUA truy cập tài khoản PNET bằng cụm mật khẩu của mình và thực hiện mua giày. (tuy
			nhiên số dư sol trong tài khoản của bạn phải lớn hơn giá trị giày cần mua.)
		</p>
		<p>
			4. PNET khoá số sol của NGƯỜI MUA tương ứng với giá trị giày và thông báo cho NGƯỜI BÁN chuyển
			giày theo địa chỉ ví mà người mua chọn.
		</p>
		<p>5. NGƯỜI BÁN thực hiện chuyển giày theo địa chỉ ví NGƯỜI MUA chỉ định.</p>
		<p>
			6. Sau khi NGƯỜI MUA nhận giày và kiểm tra đúng thông số sau đó xác nhận để PNET thực hiện
			chuyển tiền cho bên bán.
		</p>
		<i
			>Trong quá trình giao dịch nếu phát hiện gian lận, lừa đảo hãy bấm nút "Khiếu nại" để PNET can
			thiệp và giải quyết.</i
		>
	</div>

	<h2 class="text-xl font-semibold">Chi phí</h2>
	<div class="text-lg my-2 mb-5">
		Máy chủ PNET luôn sẵn sàng và thực hiện tự động các quá trình khi không có khiếu nại xảy ra nên
		phí giao dịch tương đôi thấp. Chi phí giao dịch là 0.5% được tính cho người bán. (Ví dụ: giày
		được bán với giá 10 SOL thì phí giao dịch là 0.05 SOL).
	</div>
	
	<h2 class="text-xl font-semibold">Chia sẽ lợi nhuận</h2>
	<div class="text-lg my-2 mb-5">
		<p class="text-lg my-2 mb-5">
			Khi giới thiệu người khác bán giày qua PNET bạn sẽ nhận được nhận hoa hồng 0.2% khi người đó
			thực hiện giao dịch bán giày.
		</p>
		<p>Link giới thiệu:</p>
		<div class="flex flex-col justify-content space-y-5">
			<div class="text-md font-medium text-gray-500 relative">
				<Clipboard text={ref} let:copy>
					<div
						on:click={copy}
						class="text-md w-full font-medium text-gray-500 relative"
						style="cursor:pointer"
					>
						<div
							class="absolute top-1/2 transform -translate-y-1/2 right-0 text-xl font-medium bg-gray-200 p-2"
							style="border-left:1px solid #dbdbdb"
						>
							<img
								src="copy-two-paper-sheets-interface-symbol.png"
								alt="copy"
								class=" left-3 w-8 h-8"
								style="filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(338deg) brightness(106%) contrast(109%);"
							/>
						</div>
						<input
							type="text"
							readonly
							class="block w-full px-3 pr-12 py-3  bg-gray-200
                        text-lg font-medium shadow-sm text-gray-700 placeholder:font-light
                        placeholder:text-gray-400
                        focus:outline-none focus:border-gray-300"
							value={ref}
						/>
					</div>
				</Clipboard>
			</div>
		</div>
	</div>

	<h2 class="text-xl font-semibold">Lộ trình phát triển</h2>
	<div class="text-lg my-2 mb-5">
		<div>
			<i>- 20/05/2022</i>
			<span
				>PNET chính thức khởi chạy. 10 SOL lợi nhuận đầu tiên sẽ được chia cho những 100 người giao
				dịch đầu tiên trên PNET. Lợi nhuận PNET được công khai tại địa chỉ ví SOL
			</span>
			<div class="flex flex-col justify-center overflow-hidden">
				<a
					href="https://explorer.solana.com/address/pnetEVGBGgQvozZW31kUp67VyTnEkk7XJg9jRh1niVR"
					class="text-md text-blue-700 text-ellipsis whitespace-nowrap overflow-hidden "
				>
					pnetEVGBGgQvozZW31kUp67VyTnEkk7XJg9jRh1niVR</a
				>
			</div>
		</div>
	</div>
	<div />
</div>
