/* src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
* {
    text-rendering: optimizeLegibility;
    font-family: SourceCodeVariable-Roman;
}
@font-face {
    font-family: TTOctosquares-Black;
    src: url('/TTOctosquares-Black.otf');
}

@font-face {
    font-family: SourceCodeVariable-Roman;
    src: url('/SourceCodeVariable-Roman.otf');
}