<script>
	import { fly, fade } from 'svelte/transition';
	import { codeAlert, messageAlert } from '$lib/store';
</script>

	{#if $codeAlert == 1}
		<div class="fixed w-full p-2 z-50 " in:fly={{ y: 200, duration: 300 }} out:fade>
			<div
				class="py-3 px-5 mb-4 bg-danger text-red-900 text-lg rounded-md border border-red-200"
				role="alert"
			>
				<p class="pb-1 text-xl font-semibold text-red-900">Thất Bại</p>
				{$messageAlert}
			</div>
		</div>
	{/if}
	{#if $codeAlert == 2}
		<div class="fixed w-full p-2 z-50" in:fly={{ y: 200, duration: 300 }} out:fade>
			<div
				class="py-3 px-5 mb-4 bg-warning text-yellow-900 text-lg rounded-md border border-yellow-200"
				role="alert"
			>
				<p class="pb-1 text-xl font-semibold text-yellow-900">Lỗi</p>
				{$messageAlert}
			</div>
		</div>
	{/if}
	{#if $codeAlert == 3}
		<div class="fixed w-full p-2 z-50 " in:fly={{ y: 200, duration: 300 }} out:fade>
			<div
				class="py-3 px-5 mb-4 bg-success text-green-900 text-lg rounded-md border border-green-200"
				role="alert"
			>
				<p class="pb-1 text-xl font-semibold text-green-900">Thành Công</p>
				{$messageAlert}
			</div>
		</div>
	{/if}
