<script>
    export let isHorizontal = false;
    export let space = 15
    export let css
    export let style
</script>

<div style={style} class="width-full flex {isHorizontal? `flex-row space-x-2`: `flex-col space-y-${space}`} {css} ">
    <slot></slot>
</div>