<script>
    export let isHorizontal = false;
    export let px=2
    export let py=2
</script>

<div class="container flex px-{px} py-{py} {isHorizontal? 'flex-row divide-x-2 py-2': 'flex-col divide-y-2 py-2'} p-10">
    <slot></slot>
</div>