<script>
	import {fade} from 'svelte/transition'
</script>

<div out:fade={{ delay: 1000 }} class="fixed top-0 right-0 left-0 w-full h-screen flex justify-center items-center bg-white item-center z-50 ">
	<div>
		<div
			style="border-top-color:transparent"
			class="w-14 h-14 border-4 border-buy border-solid rounded-full animate-spin"
		/>
	</div>
</div>

