<script>
    export let name
</script>
<div class="fixed top-0 right-0 left-0 w-full h-screen flex justify-center item-center">
	<img src='https://storage.googleapis.com/sola-e9c81.appspot.com/{name}.png' alt="">
</div>

