<script>
	import { getContext } from 'svelte';
	import { TABS } from './Tabs.svelte';

	const tab = {};
	const { registerTab, selectTab, selectedTab } = getContext(TABS);

	registerTab(tab);
</script>

<button class:bg-gray-200="{$selectedTab === tab}" on:click="{() => selectTab(tab)}"
    class="whitespace-nowrap p-2 px-3 mx-1 my-2 rounded-md text-lg font-medium tracking-wide"
>
	<slot></slot>
</button>